<div class="container">


  <h2 class="form-signin-heading">Angular Firebase</h2>
  <label for="inputEmail" class="sr-only">Usuário</label>
  <input type="text" #user class="form-control" placeholder="Usuario" required autofocus>
  <label for="inputPassword" class="sr-only">Senha</label>
  <input type="password" #password class="form-control" placeholder="Senha" required>
  <button class="btn btn-lg btn-primary btn-block" (click)="logOn(user.value,password.value)" type="submit">Acessar</button>


</div>